* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 30px 0 30px;

  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/*******header titre et lien ********/
.nav {
  display: flex;
  justify-content: space-between;
}
.navHeader {
  display: flex;
  gap: 69px;
}

.logo {
  width: 61px;
  height: 19px;
  margin-top: 30px;
  margin-left: 30px;
}
.hebergement {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
  border-top: solid 3px white;
}

.activités {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 14px;
  border-top: solid 3px white;
}

.titreheader {
  margin-top: 70.5px;
  margin-left: 26px;
}

.titre {
  font-size: 22px;
}

.slogan {
  margin-top: 8px;
  font-size: 16px;
}
.SurvoleLien:hover {
  color: blue;
  border-color: blue;
  
  
}

/********* titre et boutton de recherche*************/

.recherche {
  margin-left: 26px;
  margin-top: 20px;
  align-items: center;
}

.LogoRecherche {
  height: 49px;
  width: 50%;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 12.7px 12.7px 13px 12.7px;
  border-radius: 15px 0px 0px 15px;
  margin-right: -6px;
  margin-bottom: -18px;
}
.fa-magnifying-glass {
  font-size: 0;
}
.conteneur-localisation::after {
  content: "\f3c5";
  font-family: "fontAwesome";
  font-style: normal;
  width: 50px;
  height: 18px;
}

.InputRecherche {
  width: 220px;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 0px 15px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.BouttonRecherche {
  border-radius: 0px 15px 15px 0px;
  border: solid #0065fc;
  border-color: #0065fc;
  background-color: #0065fc;
  color: white;
  font-size: 18px;
  margin-left: -20px;
  height: 45px;
}

/************ Fitres ***********/

.filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-left: -25px;
}

.TitreFiltre {
  margin-left: 58px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}
.button-filtre {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-Economique {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: white;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
}
.conteneur-billet:after {
  content: "\f53a";
  font-family: "fontAwesome";
  color: blue;
  font-style: normal;
  margin-right: 14px;
}

.button-Familial {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
}

.conteneur-perso:after {
  content: "\f183";
  font-family: "FontAwesome";
  color: blue;
  font-style: normal;
  margin-right: 14px;
}

.button-Romantique {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
}
.conteneur-coeur:after {
  content: "\f004";
  font-family: "FontAwesome";
  color: blue;
  font-style: normal;
  margin-right: 14px;
}

.button-Animaux {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  padding: 12px;
  cursor: pointer;
}

.conteneur-flame:after {
  content: "\f06d";
  font-family: "FontAwesome";
  color: blue;
  font-style: normal;
  margin-right: 14px;
}

.info {
  display: flex;
  align-items: center;
  margin-left: 27px;
  margin-top: 31px;
  margin-bottom: 39px;
}
.LogoInfo {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.conteneur-I:after {
  content: "\f129";
  font-family: "FontAwesome";
  color: blue;
  font-style: normal;
  width: 10px;
  height: 10px;
  margin-left: 9px;
}

.titreinfo {
  margin-left: 11px;
}

.Survolboutton:hover {
  background-color: #a8cbff;
}

.box-hergement-et-populaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

/****************Hébergement a marseille*****************/

.containerHergements {
  width: 71%;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}

.TitreHébergements {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  margin-left: 4%;
}
.box-carte-hebergement1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.hebergements {
  margin-left: 3%;
  margin-bottom: 3%;
  width: 30%;
}

.IconHébergements {
  gap: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.img1Hébergements {
  width: 100%;
  min-width: auto;
  height: 124px;
  box-sizing: border-box;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}
.TitreIcon1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15.6px;
  line-height: 19px;
  width: 100%;
  height: 16px;
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}
.TexteIcon1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 16px;
  width: 90%;
  padding: 0 0 0 10px;
}

.etoiles {
  width: 90%;
  margin-top: 9px;
  padding: 0 0 0 15px;
  display: flex;
  font-size: 12px;
  margin-bottom: 4%;
}

.conteneur-etoile-4::before {
  content: "\f005\f005\f005\f005";
  font-family: "fontAwesome";
  color: blue;
}
.conteneur-etoile-4::after {
  content: "\f005";
  font-family: "FontAwesome";
  color: #f2f2f2;
}

.AfficherplusHergements {
  width: 20%;
  height: 21px;
  font-size: 16px;
  line-height: 21px;
  margin-top: 35px;
  margin-left: 4%;
}

/************* Populaires **************/

.ContainerPopulaire {
  width: 31%;
  height: 570px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px 0px 30px 30px;
}

.TitrePopulaire {
  font-size: 22px;
  width: 90%;
}

.conteneur-graph:after {
  content: "\f201";
  color: #0065fc;
  font-family: "FontAwesome";
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -22px;
}

.box-carte-populaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.hebergementsPopualaires {
  width: 90%;
  margin-top: 5%;
}
.hebergementsPopualaires1 {
  display: flex;
  border: 5px solid white;
  background-color: white;
  border-radius: 20px;
}
.imgPopuplaire {
  object-fit: cover;
  width: 40%;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
}
.Icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 15px 5px 15px;
}
.TitreIcon {
  width: 95%;

  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding-right: 20px;
}

.TexteIconPopulaire1 {
  width: 90%;
  margin-top: -8%;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding: 0 27px 0px 0px;
  margin-bottom: 30px;
}
.TexteIconPopulaire2 {
  width: 90%;
  margin-top: -8%;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  padding: 0 27px 0px 0px;
}

.etoilesPopulaire {
  font-size: 12px;
}

/************** Activités *************/
.titreActivités {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.containerActivités {
  padding: 28px 15px 65px 0;
  width: 99%;
  margin-left: 30px;
}

.box-activité {
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.activité {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  width: 21.2%;
}

.imgActivité {
  object-fit: cover;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

.texteActivité {
  background-color: white;
  height: 38px;
  border-radius: 0px 0px 20px 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding: 25px 20px 0px 20px;
  margin-top: -15px;
}

/************** Footer **************/
.Footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}
.APropos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20% 20px 0;
  margin-left: 20px;
}
.NosHébergements {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 20% 20px 20px;
}
.Assistance {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0 20px 20px;
}

/* responsive tabeltte */

@media (max-width: 991px) {
  body {
    max-width: 992px;
  }

  .box-hergement-et-populaire {
    flex-direction: column;
  }
  /* header */

  .activités {
    padding-right: 0px;
  }

  /* recherche */
  .InputRecherche {
    width: 234px;
  }

  .BouttonRecherche {
    width: 15%;
  }
  /* filtre */

  .filtre {
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    margin-left: 25px;
  }
  .button-filtre {
    gap: 20px;
    margin: 0;
  }

  .TitreFiltre {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 15px;
  }

  /* hebergement */
  .hebergements {
    width: 27%;
  }
  .containerHergements {
    width: 95.5%;
  }
  .box-carte-hebergement1 {
    gap: 4.3%;
  }
  

  /* populaires */
  .ContainerPopulaire {
    width: 96.4%;
    height: 250px;
    padding: 25px 15px 0px 15px;
  }
  .hebergementsPopualaires {
    width: 31%;
    margin-top: 0;
    margin-left: 0.2%;
  }
  .TitrePopulaire {
    margin-left: 15px;
    font-size: 19px;
    width: 98%;
  }

  .hebergementsPopualaires1 {
    width: 100%;
  }
  .box-carte-populaire {
    flex-direction: row;
    gap: 20px;
  }
  .TitreIcon {
    font-size: 16px;
  }

  /* activités */
  .containerActivités {
    padding-left: 20px;
    margin-left: 0;
    
  }
  .imgActivité {
    height: 220px;
  }
  .box-activité {
    gap: 3.5%;
  }
  /* footer */
  .titrePropos {
    margin-top: 20px;
  }
  .titreNosHébergements {
    margin-top: 20px;
  }
  .titreAssistance {
    margin-top: 20px;
  }
  .APropos {
    padding: 0;
    margin-left: 70px;
  }
  .NosHébergements {
    padding: 0;
    margin-left: 94px;
  }
  .Assistance {
    padding: 0;
    margin-left: 98px;
  }
}

/* responsive mobile */
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .box-hergement-et-populaire {
    flex-direction: column-reverse;
    gap: 10px;
  }

  /* header et lien  */
  .nav {
    flex-direction: column;
    justify-content: center;
  }
  .navHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 0;
  }

  .logo {
    margin-left: 45%;
    margin-bottom: 30px;
  }

  .hebergement {
    padding: 0 8% 15px 8%;
    border-bottom: 2px solid #f2f2f2;
    border-top: 0px solid;
    width: 38%;
    margin: 0;
  }

  .activités {
    padding: 0 8% 15px 8%;
    border-bottom: 2px solid #f2f2f2;
    border-top: 0px solid;
    width: 32%;
    margin: 0;
  }
  
  /* titre et slogan */
  .titreheader {
    margin-top: 71px;
    margin-left: 40px;
    margin-right: 40px;
  }
  /*  boutton de recherche*/

  .recherche {
    margin-right: 40px;
    margin-left: 40px;
  }
  .InputRecherche {
    width: 70%;
    height: 45px;
    border: 1px solid #f2f2f2;
    border-radius: 0px 15px 0 0;
    font-size: 18px;
    font-weight: bold;
  }
  .BouttonRecherche {
    border-radius: 20px;
    font-size: 0px;
    width: 50px;
    margin-left: -25px;
  }
  .fa-magnifying-glass {
    font-size: 15px;
  }

  /* filtre */

  .filtre {
    margin: 0;
  }
  .TitreFiltre {
    margin: 30px 0 20px 35px;
  }
  .button-filtre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
  }
  .button-Economique {
    font-size: 14px;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 30px;
  }
  .button-Familial {
    font-size: 14px;
    padding-right: 10%;
    padding-left: 5%;
    margin-right: 30px;
  }
  .button-Romantique {
    font-size: 14px;
    padding-right: 7%;
    padding-left: 5%;
    margin-left: 30px;
  }
  .button-Animaux {
    font-size: 14px;
    padding-right: 5%;
    padding-left: 3%;
    margin-right: 30px;
  }

  /* info */
  .info {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 31px;
    margin-bottom: 39px;
    margin-right: 40px;
  }
  .LogoInfo {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 31px;
    height: 22px;
  }

  /* populaire */

  .ContainerPopulaire {
    width: 92%;
    height: 570px;
    padding-bottom: 20px;
    border-radius: 0;
    
  }
  .TitrePopulaire {
    font-size: 22px;
    width: 90%;
  }

  .hebergementsPopualaires1 {
    width: 100%;
    margin-left: 3%;
  }
  .box-carte-populaire {
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
    width: 96%;
  }

  .hebergementsPopualaires {
    width: 96%;
  }

  .imgPopuplaire {
    width: 40%;
    height: 144px;
  }

  /* hebergement */

  .containerHergements {
    width: 89%;
    border-radius: 20px;
    background-color: white;
    
  }
  .TitreHébergements {
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  .hebergements {
    margin-bottom: 5.5%;
    width: 96%;
  }

  .img1Hébergements {
    height: 124px;
  }

  .AfficherplusHergements {
    width: 50%;
    margin-top: 15px;
  }
  /* activités */
  .titreActivités {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 0px;
  }
  .containerActivités {
    width: 92%;
    margin-top: 10%;
    margin-left: 15px;
    padding-left: 0;
    
  }

  .box-activité {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 92%;
    margin-left: 15px;
  }
  .activité {
    width: 100%;
  }
  .imgActivité {
    height: 141px;
  }
  /* footer */
  .Footer {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }
  .APropos {
    padding: 0;
    margin-left: 20px;
  }
  .NosHébergements {
    padding: 0;
    margin-left: 20px;
  }
  .Assistance {
    padding: 0;
    padding-bottom: 30px;
    margin-left: 20px;
  }
}
